<h1>Carrito de compras</h1>
<ul>
  {{#each cart.products}}
    <li>
      <h3>{{product.title}}</h3>
      <p>{{product.description}}</p>
      <p>Precio: ${{product.price}}</p>
      <p>Cantidad: {{quantity}}</p>
      <button data-product-id="{{product._id}}">Eliminar del carrito</button>
    </li>
  {{/each}}
</ul>

<script>
  const cartId = localStorage.getItem("cartId");

  document.querySelectorAll("button[data-product-id]").forEach((button) => {
    button.addEventListener("click", async () => {
      const productId = button.dataset.productId;
      try {
        const response = await fetch(
          `/api/carts/${cartId}/products/${productId}`,
          {
            method: "DELETE",
          }
        );
        const data = await response.json();
        console.log(data);
      } catch (error) {
        console.error(error);
      }
    });
  });
</script>